<mat-card>
    <mat-form-field>
      <input matInput placeholder="Ingrese una ciudad"  [(ngModel)]="city">
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="getWeather()">Buscar</button>
    <button mat-raised-button color="accent" (click)="toggleUnit()" class="centrarBotones">°C/°F</button>
  
    <div *ngIf="errorMessage" class="error">
      {{ errorMessage }}
    </div>
  
    <div *ngIf="weatherData">
      <p><strong>Temperatura:</strong> {{ weatherData.main.temp }}°{{ unit }}</p>
      <p><strong>Humedad:</strong> {{ weatherData.main.humidity }}%</p>
      <p><strong>Descripción:</strong> {{ weatherData.weather[0].description }}</p>
    </div>
  </mat-card>

  
  
